.button {
  @extend %unstyled-button;
  color: $white;
  transition: all 0.3s ease-in-out;
  text-wrap: nowrap;
  display: flex;
  align-items: center;

  &.stretched {
    width: 100%;
    padding: 0;
  }

  &.small {
    height: 32px;
    padding: 0 18px;
    border-radius: 20px;
  }

  &.medium {
    @include font0-props(13, 2);
    height: 40px;
    padding: 0 18px;
  }

  &.large {
    @include font0-props(15, 2);
    height: 48px;
    padding: 0 18px;
    border-radius: 24px;
  }

  &.destroy {
    background: $mandy;
    color: $white;

    &:hover {
      background: $monalisa;
    }
  }

  &.primary {
    background: $main-purple;

    &:not(:disabled) &:hover {
      background: $main-purple2;
    }
  }

  &.secondary {
    background: color.change($main-purple, $alpha: 0.1);
    color: $main-purple;

    &:hover {
      background: color.change($main-purple, $alpha: 0.25);
    }
  }

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }
}
