$white: #ffffff;
$light-grey: #f4f7fd;
$main-purple: #635fc7;
$main-purple2: #a8a4ff;
$black: #000112;
$v-dark-grey: #20212c;
$dark-grey: #2b2c37;
$medium-grey: #828fa3;
$link-water: #e4ebfa;
$gun-powder: #3e3f4e;
$selago: #f4f7fd;
$mandy: #ea5555;
$monalisa: #ff9898;
