.header {
  --header-lines: 1px solid #{$link-water};

  background: $white;
  border-bottom: var(--header-lines);
  height: 80px;
  display: flex;

  .logo,
  .content {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 0 24px;
    border-right: var(--header-lines);
  }

  .content {
    flex: 1;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
  }

  .active_board {
    @include font0-props(20, 2);

    @include media('>=desktop') {
      @include font0-props(24, 2);
    }
  }

  .right_content {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
