@mixin hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  position: revert;
  opacity: revert;
  visibility: revert;
}

.on-mobile {
  @include media('>=tablet') {
    display: none;
  }
}

.on-desktop {
  @include media('<desktop') {
    display: none;
  }
}

.on-tablet {
  @include media('<tablet') {
    display: none;
  }

  @include media('>=desktop') {
    display: none;
  }
}

.on-tablet-up {
  // @include hide;
  // @include media('>=tablet') {
  //   @include show;
  // }

  @include media('<tablet') {
    display: none;
  }
}
