.button {
  @extend %unstyled-button;
  height: 48px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  &.text {
    width: 56px;
    padding-left: 24px;
    justify-content: flex-start;
    gap: 10px;
  }

  &.primary {
    background: $main-purple;

    &:hover {
      background: $main-purple2;
    }
  }
}
