@import './resets';
@import './fonts';

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: 'j_sans';
  @include font0-props(13);
  background: $light-grey;

  --mobile-header-height: 64px;
}

svg {
  display: block;
}

button {
  cursor: pointer;
}
